/* many of these styles are from josh w comeau's "css reset", check his blog at https://www.joshwcomeau.com */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Courier New', Courier, monospace; /* Check fonts */
    background-color: #07090F;
    color: #ffff;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}