* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #07090F;
    color: #ffff;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}