.back-to-top {
    position: fixed;
    width: 44px;
    right: 61px;
    bottom: 14px;
    height: 66px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    border-radius: 30px;
    color: #6f7f7b;
    background-color: #f4f0f0;
    vertical-align: center;
    visibility:hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.back-to-top-visible {
    visibility: visible;
    opacity: 1;
}