.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {
  color: #fbbc04 !important;
  font-size: 2.25rem !important;
}

.jumbotron_custom {
  background-color: #ffffff !important;
  text-align: center;
}

.jumbotron_custom > p {
  font-size: 32px;
  font-weight: 200;
  max-width: 670px;
  margin: 0 auto;
}
.cinema_webpage--title {
  margin-bottom: 15px;
  font-size: 70px;
}

.watch_video,
.watch_video:hover {
  color: #ffffff;
  font-size: 18px;
}

.paragraph {
  font-size: 2rem;
}

.button_custom {
  width: 100% !important;
  height: 50px;
}

.cinema_webpage--link {
  font-size: 28px;
  color: #fd5d2d;
  font-weight: bold;
}

@media (max-width: 720px) {
  .cinema_webpage--title {
    font-size: 58px;
    margin-bottom: 20px;
  }

  .jumbotron_custom > p {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 200;
  }
}
